<main id="buzz-content" class="main__content">
  <div class="article__content container">
    <div class="row">
      <div class="content__list col-lg-8 col-12">
        <article>
          {{#if Article}}
          <div class="headline">
            <div class="container__headline">
              <h1 class="title_article">
                {{ Article.title }}
              </h1>
            </div>
          </div>
          <time class="timeline__article">
            <p class="meta post-meta">
              時間:&nbsp;{{ Article.time }}&nbsp;
              <em>發表于&nbsp;{{ Article.category }}&nbsp;</em>
            </p>
          </time>
          {{/if}}
          <div class="container__introduce">
            <h4 class="text-justify">
              {{ Article.introduce }}
            </h4>
          </div>
          <div class="article-image-container d-flex justify-content-center">
            <img
              class="card-img-top img-fluid"
              alt="Responsive image"
              src="{{ Article.image1 }}"
            />
          </div>
          <div class="subarticle--list">
            <div class="subarticle-wrapper">
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle1 }}</h2>
                </div>
                <p class="subtitle__title-text text-justify">
                  {{ Article.paragraph1 }}
                </p>
              </div>
              {{#if Article.subtitle2}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle2 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph2 }}</p>
                {{#if Article.image2}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image2 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article.subtitle3}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle3 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph3 }}</p>
                {{#if Article.image3}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image3 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article.subtitle4}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle4 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph4 }}</p>
                {{#if Article.image4}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image4 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article.subtitle5}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle5 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph5 }}</p>
                {{#if Article.image4}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image5 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article.subtitle6}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle6 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph6 }}</p>
                {{#if Article.image6}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image6 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article.subtitle7}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle7 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph7 }}</p>
                {{#if Article.image7}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image7 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article.subtitle8}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle8 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph8 }}</p>
                {{#if Article.image8}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image8 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
            </div>
          </div>
        </article>
      </div>
      <section class="sidebar col-lg-4 col-12" aria-label="Promoted content">
        <div id="#" class="introduce--website">
          <div class="introduce--description">
            <h2 class="introduce--header"><strong>關於解密之書</strong></h2>
            <amp-fit-text
              class="subarticle__title xs-mb1 bold"
              width="300"
              height="100"
              layout="responsive"
              max-font-size="22"
              >解密之書致力於「各國網站的生活技巧與終點整理」為主題，透過文字作品與圖文，濃縮並精簡內容，提供有趣且實用的重點筆記給你們。</amp-fit-text
            >
          </div>
          <div class="introduce--link">
            <a
              class="et_pb_button et_pb_promo_button"
              href="https://zoeyk.co/about/"
              >閱讀更多</a
            >
          </div>
        </div>
      </section>
      <div class="col-lg-12 divider"></div>
      <div class="content__list col-lg-8 col-12 mt-10">
        <article>
          {{#if Article2}}
          <div class="headline">
            <div class="container__headline">
              <h1 class="title_article">
                {{ Article2.title }}
              </h1>
            </div>
          </div>
          <time class="timeline__article">
            <p class="meta post-meta">
              時間:&nbsp;{{ Article2.time }}&nbsp;
              <em>發表于&nbsp;{{ Article2.category }}&nbsp;</em>
            </p>
          </time>
          {{/if}}
          <div class="container__introduce">
            <h4 class="text-justify">
              {{ Article2.introduce }}
            </h4>
          </div>
          <div class="article-image-container d-flex justify-content-center">
            <img
              class="card-img-top img-fluid"
              alt="Responsive image"
              src="{{ Article.image1 }}"
            />
          </div>
          <div class="subarticle--list">
            <div class="subarticle-wrapper">
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article2.subtitle1 }}</h2>
                </div>
                <p class="subtitle__title-text text-justify">
                  {{ Article2.paragraph1 }}
                </p>
              </div>
              {{#if Article2.subtitle2}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article2.subtitle2 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article2.paragraph2 }}</p>
                {{#if Article2.image2}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image2 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article2.subtitle3}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article2.subtitle3 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article2.paragraph3 }}</p>
                {{#if Article2.image3}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image3 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article2.subtitle4}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article2.subtitle4 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article2.paragraph4 }}</p>
                {{#if Article2.image4}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image4 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article2.subtitle5}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article2.subtitle5 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article2.paragraph5 }}</p>
                {{#if Article2.image4}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image5 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article2.subtitle6}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article2.subtitle6 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article2.paragraph6 }}</p>
                {{#if Article2.image6}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image6 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article2.subtitle7}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article2.subtitle7 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article2.paragraph7 }}</p>
                {{#if Article2.image7}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image7 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article2.subtitle8}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article2.subtitle8 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article2.paragraph8 }}</p>
                {{#if Article2.image8}}
                <div
                  class="article-image-container d-flex justify-content-center"
                >
                  <img
                    class="card-img-top img-fluid"
                    alt="Responsive image"
                    src="{{ Article.image8 }}"
                  />
                </div>
                {{/if}}
              </div>
              {{/if}}
            </div>
          </div>
        </article>
      </div>
      <section class="more--content col-12 row">
        <h2 class="more-atricle--title">更多相關文章</h2>
        <section class="more-atricle container">
          <div class="row">
            {{#each relatedArticle}}
            <div class="card-container col-md-3 col-12">
              <a href="/articles/{{ this._id }}">
                <div class="card">
                  <img
                    class="card-img-top"
                    alt="view of the article content"
                    src="{{ this.coverImage }}"
                  />

                  <div class="card-body">
                    <div class="card-header">
                      <div class="card-title h5">{{ this.title }}</div>
                    </div>
                    <div class="card-text">
                      {{ this.introduce }}
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {{/each}}
          </div>
        </section>
      </section>
    </div>
  </div>
</main>
