<main id="buzz-content" class="main__content">
  <div class="article__content container">
    <div class="columns">
      <div class="content__list col-7 col-md-12">
        <article>
          {{#if Article}}
          <div class="headline">
            <div class="container__headline">
              <h1 class="title_article">
                {{ Article.title }}
              </h1>
            </div>
          </div>
          <time class="timeline__article">
            <p class="meta post-meta">
              時間:&nbsp;{{ Article.time }}&nbsp;<em
                >發表于&nbsp;{{ Article.category }}&nbsp;</em
              >
            </p>
          </time>
          {{/if}}
          <div class="container__introduce">
            <p>
              {{ Article.introduce }}
            </p>
          </div>
          <div class="subarticle--list">
            <div class="subarticle-wrapper">
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle1 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph1 }}</p>

                <div class="article-image-container">
                  <amp-img
                    alt="A view of the sea"
                    src="{{ Article.image1 }}"
                    width="1"
                    height="1"
                    layout="responsive"
                  >
                  </amp-img>
                </div>

                <amp-social-share
                  class="rounded"
                  aria-label="Share by email "
                  type="email"
                  width="48"
                  height="48"
                ></amp-social-share>
                <amp-social-share
                  class="rounded"
                  aria-label="Share on Facebook"
                  type="facebook"
                  data-param-app_id="254325784911610"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Pinterest"
                  type="pinterest"
                  data-param-media="https://amp.dev/static/samples/img/amp.jpg"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Twitter"
                  type="twitter"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Line"
                  type="line"
                  width="48"
                  height="48"
                ></amp-social-share>
              </div>
              {{#if Article.subtitle2}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle2 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph2 }}</p>
                {{#if Article.image2}}
                <div class="article-image-container">
                  <amp-img
                    alt="A view of the sea"
                    src="{{ Article.image2 }}"
                    width="1"
                    height="1"
                    layout="responsive"
                  >
                  </amp-img>
                </div>
                <amp-social-share
                  class="rounded"
                  aria-label="Share by email "
                  type="email"
                  width="48"
                  height="48"
                ></amp-social-share>
                <amp-social-share
                  class="rounded"
                  aria-label="Share on Facebook"
                  type="facebook"
                  data-param-app_id="254325784911610"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Pinterest"
                  type="pinterest"
                  data-param-media="https://amp.dev/static/samples/img/amp.jpg"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Twitter"
                  type="twitter"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Line"
                  type="line"
                  width="48"
                  height="48"
                ></amp-social-share>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article.subtitle3}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle3 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph3 }}</p>
                {{#if Article.image3}}
                <div class="article-image-container">
                  <amp-img
                    alt="A view of the sea"
                    src="{{ Article.image3 }}"
                    width="1"
                    height="1"
                    layout="responsive"
                  >
                  </amp-img>
                </div>

                <amp-social-share
                  class="rounded"
                  aria-label="Share by email "
                  type="email"
                  width="48"
                  height="48"
                ></amp-social-share>
                <amp-social-share
                  class="rounded"
                  aria-label="Share on Facebook"
                  type="facebook"
                  data-param-app_id="254325784911610"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Pinterest"
                  type="pinterest"
                  data-param-media="https://amp.dev/static/samples/img/amp.jpg"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Twitter"
                  type="twitter"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Line"
                  type="line"
                  width="48"
                  height="48"
                ></amp-social-share>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article.subtitle4}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle4 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph4 }}</p>
                {{#if Article.image4}}
                <div class="article-image-container">
                  <amp-img
                    alt="A view of the sea"
                    src="{{ Article.image4 }}"
                    width="1"
                    height="1"
                    layout="responsive"
                  >
                  </amp-img>
                </div>

                <amp-social-share
                  class="rounded"
                  aria-label="Share by email "
                  type="email"
                  width="48"
                  height="48"
                ></amp-social-share>
                <amp-social-share
                  class="rounded"
                  aria-label="Share on Facebook"
                  type="facebook"
                  data-param-app_id="254325784911610"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Pinterest"
                  type="pinterest"
                  data-param-media="https://amp.dev/static/samples/img/amp.jpg"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Twitter"
                  type="twitter"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Line"
                  type="line"
                  width="48"
                  height="48"
                ></amp-social-share>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article.subtitle5}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle5 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph5 }}</p>
                {{#if Article.image4}}
                <div class="article-image-container">
                  <amp-img
                    alt="A view of the sea"
                    src="{{ Article.image5 }}"
                    width="1"
                    height="1"
                    layout="responsive"
                  >
                  </amp-img>
                </div>

                <amp-social-share
                  class="rounded"
                  aria-label="Share by email "
                  type="email"
                  width="48"
                  height="48"
                ></amp-social-share>
                <amp-social-share
                  class="rounded"
                  aria-label="Share on Facebook"
                  type="facebook"
                  data-param-app_id="254325784911610"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Pinterest"
                  type="pinterest"
                  data-param-media="https://amp.dev/static/samples/img/amp.jpg"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Twitter"
                  type="twitter"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Line"
                  type="line"
                  width="48"
                  height="48"
                ></amp-social-share>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article.subtitle6}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle6 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph6 }}</p>
                {{#if Article.image6}}
                <div class="article-image-container">
                  <amp-img
                    alt="A view of the sea"
                    src="{{ Article.image6 }}"
                    width="1"
                    height="1"
                    layout="responsive"
                  >
                  </amp-img>
                </div>

                <amp-social-share
                  class="rounded"
                  aria-label="Share by email "
                  type="email"
                  width="48"
                  height="48"
                ></amp-social-share>
                <amp-social-share
                  class="rounded"
                  aria-label="Share on Facebook"
                  type="facebook"
                  data-param-app_id="254325784911610"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Pinterest"
                  type="pinterest"
                  data-param-media="https://amp.dev/static/samples/img/amp.jpg"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Twitter"
                  type="twitter"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Line"
                  type="line"
                  width="48"
                  height="48"
                ></amp-social-share>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article.subtitle7}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle7 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph7 }}</p>
                {{#if Article.image7}}
                <div class="article-image-container">
                  <amp-img
                    alt="A view of the sea"
                    src="{{ Article.image7 }}"
                    width="1"
                    height="1"
                    layout="responsive"
                  >
                  </amp-img>
                </div>

                <amp-social-share
                  class="rounded"
                  aria-label="Share by email "
                  type="email"
                  width="48"
                  height="48"
                ></amp-social-share>
                <amp-social-share
                  class="rounded"
                  aria-label="Share on Facebook"
                  type="facebook"
                  data-param-app_id="254325784911610"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Pinterest"
                  type="pinterest"
                  data-param-media="https://amp.dev/static/samples/img/amp.jpg"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Twitter"
                  type="twitter"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Line"
                  type="line"
                  width="48"
                  height="48"
                ></amp-social-share>
                {{/if}}
              </div>
              {{/if}}
              {{#if Article.subtitle8}}
              <div class="subarticle">
                <div class="paragraph--container">
                  <h2 class="subtitle__paragraph">{{ Article.subtitle8 }}</h2>
                </div>
                <p class="subtitle__title-text">{{ Article.paragraph8 }}</p>
                {{#if Article.image8}}
                <div class="article-image-container">
                  <amp-img
                    alt="A view of the sea"
                    src="{{ Article.image8 }}"
                    width="1"
                    height="1"
                    layout="responsive"
                  >
                  </amp-img>
                </div>

                <amp-social-share
                  class="rounded"
                  aria-label="Share by email "
                  type="email"
                  width="48"
                  height="48"
                ></amp-social-share>
                <amp-social-share
                  class="rounded"
                  aria-label="Share on Facebook"
                  type="facebook"
                  data-param-app_id="254325784911610"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Pinterest"
                  type="pinterest"
                  data-param-media="https://amp.dev/static/samples/img/amp.jpg"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Twitter"
                  type="twitter"
                  width="48"
                  height="48"
                ></amp-social-share>

                <amp-social-share
                  class="rounded"
                  aria-label="Share on Line"
                  type="line"
                  width="48"
                  height="48"
                ></amp-social-share>
                {{/if}}
              </div>
              {{/if}}
            </div>
          </div>
        </article>
      </div>
      <section class="sidebar col-5 col-md-12" aria-label="Promoted content">
        <div id="#" class="introduce--website">
          <div class="introduce--description">
            <h2 class="introduce--header"><strong>關於解密之書</strong></h2>
            <amp-fit-text
              class="subarticle__title xs-mb1 bold"
              width="300"
              height="100"
              layout="responsive"
              max-font-size="22"
              >解密之書致力於「各國網站的生活技巧與終點整理」為主題，透過文字作品與圖文，濃縮並精簡內容，提供有趣且實用的重點筆記給你們。</amp-fit-text
            >
          </div>
          <div class="introduce--link">
            <a
              class="et_pb_button et_pb_promo_button"
              href="https://zoeyk.co/about/"
              >閱讀更多</a
            >
          </div>
        </div>
      </section>
      <section class="more--content columns">
        <h2 class="more-atricle--title col-12">更多相關文章</h2>
        <section class="more-atricle container col-12">
          <div class="columns">
            {{#each relatedArticle}}
            <div class="card card-container col-3 col-md-12">
              <div class="card-image">
                <a href="http://172.20.10.2:3000/articles/{{ this._id }}">
                  <amp-img
                    alt="view of the article content"
                    height="250"
                    layout="fixed-height"
                    src="{{ this.coverImage }}"
                  >
                  </amp-img>
                </a>
              </div>
              <a href="http://172.20.10.2:3000/articles/{{ this._id }}">
                <div class="card-header">
                  <div class="card-title h5">{{ this.title }}</div>
                </div>
                <div class="card-body">
                  {{ this.introduce }}
                </div>
              </a>
            </div>
            {{/each}}
          </div>
        </section>
      </section>
    </div>
  </div>
</main>
